<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6gMKhl8zonCkk2dxbJv8Het8Xqn5IceA</string>
	<key>GCM_SENDER_ID</key>
	<string>69464998696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpts.scrapmate</string>
	<key>PROJECT_ID</key>
	<string>scrapmate-user-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>scrapmate-user-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69464998696:ios:9db7520f5b96af871c061d</string>
</dict>
</plist>